In [47]:
import pandas as pd
import numpy as np

# 1. Read the dataset to the python environment

In [48]:
data = pd.read_excel(r"C:\Users\imins\Downloads\iris.xls")

In [49]:
data.head()

    SL   SW   PL   PW Classification
0  5.1  3.5  1.4  0.2    Iris-setosa
1  4.9  3.0  1.4  0.2    Iris-setosa
2  NaN  3.2  1.3  0.2    Iris-setosa
3  4.6  3.1  1.5  0.2    Iris-setosa
4  5.0  3.6  1.4  0.2    Iris-setosa

In [74]:
data.describe()

               SL          SW          PL          PW
count  150.000000  150.000000  150.000000  150.000000
mean     5.855944    3.049306    3.756250    1.198667
std      0.808480    0.421884    1.725479    0.763161
min      4.300000    2.000000    1.000000    0.100000
25%      5.200000    2.800000    1.600000    0.300000
50%      5.800000    3.000000    4.200000    1.300000
75%      6.400000    3.275000    5.100000    1.800000
max      7.900000    4.400000    6.900000    2.500000

# 2. Do necessary pre-processing steps

In [51]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   SL              143 non-null    float64
 1   SW              144 non-null    float64
 2   PL              144 non-null    float64
 3   PW              150 non-null    float64
 4   Classification  150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [52]:
data.isnull().sum()

SL                7
SW                6
PL                6
PW                0
Classification    0
dtype: int64

In [53]:
data.groupby(['Classification']).count()

                 SL  SW  PL  PW
Classification
Iris-setosa      47  47  48  50
Iris-versicolor  48  48  48  50
Iris-virginica   48  49  48  50

In [58]:
data['SL'].fillna(data['SL'].mean(),inplace = True)

In [59]:
data['SW'].fillna(data['SW'].mean(),inplace = True)

In [60]:
data['PL'].fillna(data['PL'].mean(),inplace = True)

In [61]:
data.isnull().sum()

SL                0
SW                0
PL                0
PW                0
Classification    0
dtype: int64

In [62]:
data

           SL   SW       PL   PW  Classification
0    5.100000  3.5  1.40000  0.2     Iris-setosa
1    4.900000  3.0  1.40000  0.2     Iris-setosa
2    5.855944  3.2  1.30000  0.2     Iris-setosa
3    4.600000  3.1  1.50000  0.2     Iris-setosa
4    5.000000  3.6  1.40000  0.2     Iris-setosa
..        ...  ...      ...  ...             ...
145  6.700000  3.0  5.20000  2.3  Iris-virginica
146  6.300000  2.5  5.00000  1.9  Iris-virginica
147  6.500000  3.0  3.75625  2.0  Iris-virginica
148  6.200000  3.4  5.40000  2.3  Iris-virginica
149  5.900000  3.0  5.10000  1.8  Iris-virginica

[150 rows x 5 columns]

In [69]:
data.columns

Index(['SL', 'SW', 'PL', 'PW', 'Classification'], dtype='object')

In [78]:
x = data.drop(['Classification'],axis=1)
y = data['Classification']

In [79]:
x

           SL   SW       PL   PW
0    5.100000  3.5  1.40000  0.2
1    4.900000  3.0  1.40000  0.2
2    5.855944  3.2  1.30000  0.2
3    4.600000  3.1  1.50000  0.2
4    5.000000  3.6  1.40000  0.2
..        ...  ...      ...  ...
145  6.700000  3.0  5.20000  2.3
146  6.300000  2.5  5.00000  1.9
147  6.500000  3.0  3.75625  2.0
148  6.200000  3.4  5.40000  2.3
149  5.900000  3.0  5.10000  1.8

[150 rows x 4 columns]

In [80]:
y

0         Iris-setosa
1         Iris-setosa
2         Iris-setosa
3         Iris-setosa
4         Iris-setosa
            ...
145    Iris-virginica
146    Iris-virginica
147    Iris-virginica
148    Iris-virginica
149    Iris-virginica
Name: Classification, Length: 150, dtype: object

In [83]:
y.value_counts()

Iris-setosa        50
Iris-versicolor    50
Iris-virginica     50
Name: Classification, dtype: int64

In [85]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.3,random_state=2)

In [86]:
x_train.head()

      SL        SW       PL   PW
134  6.1  2.600000  5.60000  1.4
28   5.2  3.400000  3.75625  0.2
65   6.7  3.100000  4.40000  1.4
0    5.1  3.500000  1.40000  0.2
27   5.2  3.049306  1.50000  0.2

In [87]:
x_test.head()

      SL   SW   PL   PW
6    4.6  3.4  1.4  0.3
3    4.6  3.1  1.5  0.2
113  5.7  2.5  5.0  2.0
12   4.8  3.0  1.4  0.1
24   4.8  3.4  1.9  0.2

In [88]:
y_train.head()

134     Iris-virginica
28         Iris-setosa
65     Iris-versicolor
0          Iris-setosa
27         Iris-setosa
Name: Classification, dtype: object

In [89]:
y_test.head()

6         Iris-setosa
3         Iris-setosa
113    Iris-virginica
12        Iris-setosa
24        Iris-setosa
Name: Classification, dtype: object

In [90]:
from sklearn.preprocessing import StandardScaler    
st_x= StandardScaler()    
x_train= st_x.fit_transform(x_train)    
x_test= st_x.transform(x_test)

# 3. Find out which classification model gives the best result to predict iris species.(also do random forest algorithm)

#### KNN Algorithm

In [91]:
from sklearn.neighbors import KNeighborsClassifier  
classifier= KNeighborsClassifier(n_neighbors=5, metric='minkowski', p=2 )  
classifier.fit(x_train, y_train)

KNeighborsClassifier()

In [93]:
y_pred= classifier.predict(x_test)

In [102]:
y_pred

array(['Iris-setosa', 'Iris-setosa', 'Iris-virginica', 'Iris-setosa',
       'Iris-setosa', 'Iris-virginica', 'Iris-setosa', 'Iris-virginica',
       'Iris-virginica', 'Iris-setosa', 'Iris-setosa', 'Iris-setosa',
       'Iris-setosa', 'Iris-setosa', 'Iris-versicolor', 'Iris-versicolor',
       'Iris-setosa', 'Iris-versicolor', 'Iris-virginica',
       'Iris-versicolor', 'Iris-versicolor', 'Iris-versicolor',
       'Iris-virginica', 'Iris-versicolor', 'Iris-versicolor',
       'Iris-setosa', 'Iris-setosa', 'Iris-virginica', 'Iris-setosa',
       'Iris-virginica', 'Iris-virginica', 'Iris-setosa',
       'Iris-versicolor', 'Iris-virginica', 'Iris-versicolor',
       'Iris-setosa', 'Iris-virginica', 'Iris-versicolor',
       'Iris-versicolor', 'Iris-virginica', 'Iris-versicolor',
       'Iris-versicolor', 'Iris-virginica', 'Iris-versicolor',
       'Iris-setosa'], dtype=object)

In [98]:
from sklearn.metrics import confusion_matrix  
cm= confusion_matrix(y_test, y_pred)

In [99]:
cm

array([[17,  0,  0],
       [ 0, 15,  0],
       [ 0,  0, 13]], dtype=int64)

#### RAndom Forest Classification

In [103]:
from sklearn.ensemble import RandomForestClassifier
rf=RandomForestClassifier()
rf.fit(x_train,y_train)

y_pred =rf.predict(x_test)

In [104]:
y_pred

array(['Iris-setosa', 'Iris-setosa', 'Iris-virginica', 'Iris-setosa',
       'Iris-setosa', 'Iris-virginica', 'Iris-setosa', 'Iris-virginica',
       'Iris-virginica', 'Iris-setosa', 'Iris-setosa', 'Iris-setosa',
       'Iris-setosa', 'Iris-setosa', 'Iris-versicolor', 'Iris-versicolor',
       'Iris-setosa', 'Iris-versicolor', 'Iris-virginica',
       'Iris-versicolor', 'Iris-virginica', 'Iris-versicolor',
       'Iris-virginica', 'Iris-versicolor', 'Iris-versicolor',
       'Iris-setosa', 'Iris-setosa', 'Iris-virginica', 'Iris-setosa',
       'Iris-virginica', 'Iris-virginica', 'Iris-setosa',
       'Iris-versicolor', 'Iris-virginica', 'Iris-versicolor',
       'Iris-setosa', 'Iris-virginica', 'Iris-versicolor',
       'Iris-versicolor', 'Iris-virginica', 'Iris-versicolor',
       'Iris-versicolor', 'Iris-virginica', 'Iris-versicolor',
       'Iris-setosa'], dtype=object)

In [108]:
from sklearn.metrics import f1_score
print("f1_score : ",f1_score(y_test, y_pred,average='weighted'))

f1_score :  0.9778061586490706

In [109]:
pd.Series(rf.feature_importances_,index=x.columns).sort_values(ascending=False)*100

PW    52.128487
PL    34.085671
SL     9.875288
SW     3.910554
dtype: float64